h1 {
	color: #446c65;
	text-shadow: 2px 2px 0px #5c5f72;
	font: 40px 'Verdana';
	letter-spacing: 8px;
}

form { 
padding: 20px; 
border:3px solid #ddd; 
border-color:#446c65;
}
td, input, select, textarea { 
font-size:13px; 
font-family:Verdana; 
font-weight:bold; 
}
input, select, textarea { 
color:#446c65; 
}
div { 
background-color:#dcf4ef; 
width:300px; 
border:3px solid #ddd; 
}
select { 
background-color:#dcf4ef; 
width:300px; 
border:3px solid #ddd; }
input[type="radio"] { 
background-color:#dcf4ef; 
border:1px solid #ddd; 
}
button { 
background-color:#9ebeb8; 
color:#446c65; 
font-weight:bold;
width:300px;
height:40px;
border:3px solid #ddd;
position:relative;
width:300px;
display:block;
text-decoration:none;
margin:0 auto;
border-radius:4px;
-webkit-transition: all 0.1s;
-moz-transition: all 0.1s;
transition: all 0.1s;
	
-webkit-box-shadow: 0px 4px 0px #ddd;
-moz-box-shadow: 0px 4px 0px #ddd;
box-shadow: 0px 3px 0px #A9A9A9;
}

button:active{
    -webkit-box-shadow: 0px 2px 0px #777777;
    -moz-box-shadow: 0px 2px 0px #777777;
    box-shadow: 0px 2px 0px #777777;
    position:relative;
    top:7px;
}
