.flex-container {
  padding: 1em;
  margin: 1em;
  list-style: none;
  border: ridge;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
    margin: 1em;
    order: 0;
    flex: 0 1 10em;
    align-self: auto;
    text-align: center;
    border: ridge;
}
.flex-item:nth-child(1) {
    border: none;
    order: 0;
    flex: 0 1 100%;
    align-self: auto;
}
.flex-item input {
  width: 100%;

}
